*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav h1{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.btn{
    padding: 10px 20px;
    outline: none;
    border: 1px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    font-size: 18px;
}

/* this is benner area start here now */
/* this is benner area start here now */

.benner-area{
    background-image: url('images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0px;
}

.benner-desc h1{
    font-size: 46px;
    font-weight: bold;
    padding: 30px 0px;
    line-height: 55px;
}

.benner-desc p{
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    width: 40%;
    margin: 0 auto;
}

.benner-btn{
    padding: 30px 0px;
}

.benner-btn a{
    background: #000;
    color: white;
    padding: 20px 30px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px auto;
}


/* this is development section start here now  */
/* this is development section start here now  */

.development{
    width: 100%;
    background-color: #FAFAFA;
    padding: 60px;
    border-radius: 10px;
    margin: 50px 0px;
}

.development h2{
    font-size: 36px;
    font-weight: bold;
    padding: 30px 0px;
    text-align: center;
}

.development p{
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.dev-box{
    background: linear-gradient(45deg, white, #FAFAFA);
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    width: 80%;
}

.dev-box-two{
    background: linear-gradient(-45deg, white, #FAFAFA);
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    width: 80%;
    gap: 80px;
}

.dev-desc h3{
    font-size: 24px;
    font-weight: bold;
    color: #808080;
}

.dev-desc p{
    font-size: 16px;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 20px 0px;
}

/* this is Inspiration section start here now */
/* this is Inspiration section start here now */


.inspiration h2{
    font-size: 36px;
    font-weight: bold;
    padding: 30px 0px;
    text-align: center;
}

.inspiration p{
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.inspiration-box{
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd4d4;
    border-radius: 8px;
    height: 600px;
    margin: 50px auto;
    border-radius: 20px;
}

.video{
    width: 100%;
    height: 100%;
}

.video iframe{
    border-radius: 20px;
}

/* this is Target section start here now */
/* this is Target section start here now */

.target h2{
    font-size: 36px;
    font-weight: bold;
    padding: 30px 0px;
    text-align: center;
}

.target p{
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.alltarget-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.target-box{
    background-color: #fff6f4;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.target-box:nth-child(2){
    background-color: #F2F6FE;
    border-radius: 10px;
}

.target-box:nth-child(3){
    background-color: #FFFDF2;
    border-radius: 10px;
}

.target-box{
    background-color: #fff6f4;
    text-align: left;
    padding: 20px;
}

.target-box h3{
    font-size: 22px;
    padding: 10px;
}
 

.target-box p{
    text-align: left;
    margin: 0;
    padding: 15px 0px;
    width: 100%;
}
 
.target-box a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}


/* this is Tools section start here now */
/* this is Tools section start here now */

.tools{
    padding: 50px 0px;
}

.tools h1{
    font-size: 36px;
    font-weight: bold;
    padding: 30px 0px;
    text-align: center;
}

.tools p{
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.fullTool-box{
    padding: 30px 0px;
}

.tool-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px 0px 4px #e6d8d8;
    margin-bottom: 20px;
}

.tool-desc p{
   text-align: left;
   margin: 0;
   padding: 15px 0px;
   width: 100%;
}

.tool-desc a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}


/* this is Contact section start here now */
/* this is Contact section start here now */


.contact{
    background-image: linear-gradient(45deg, #63616170, #3d3d3db7), url('images/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 30px 0px;
}

.contact-desc h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.contact-desc p{
    font-size: 18px;
    line-height: 30px;
    color: #f7ecec;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.submit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-box span{
    width: 40%;
}
.submit-box span:last-child{
    width: 8%;
}

.submit-box input{
    padding: 15px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
}

.submit-box .submit-btn {
    padding: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}